.header-img {
    background: url("../images/header-img.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.header-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.266);
    z-index: 0;
}

h2,
h4 {
    color: #130657;
}

h6 {
    color: #130657;
    font-size: 1.1rem;
}

p {
    font-size: 0.95rem;
}

.card img {
    height: 40px;
}

/* .btn-primary,
.btn-light {
    font-weight: 500;
    border-radius: 30px;
} */
.services-btn {
    background-color: #130657;
    color: white !important;
    transition: background-color 0.3s ease;
}

.services-btn:hover {
    background-color: #393847;
    color: white;
}
